{{ $md := (partial "i-content/aliases.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-aliases sf-infocard sf-component sf-aliases">
  <span class="anchor" id="aliases_anchor"></span>
  <span class="h4">Aliases</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#aliases-i-pop">
      info
    </button>
  </span>
  <div class="form-check">
    <label class="form-check-label sf-chk" for="aliases_chk">
      <input type="checkbox" class="form-check-input sf-chk" id="aliases_chk" checked="">
      Aliases</label>
  </div>
  <div class="aliases_card">
    <div class="aliases_body sf-body">
      <!-- we need to create a datalist input here with add and delete buttons ofcourse -->
      <div class="form-group aliases_rec sf-rec">
        <div class="form-check">
          <label class="form-check-label aliases_rec_chk sf-rec-chk">
            <input type="checkbox" class="form-check-input aliases_rec_chk sf-rec-chk">
           <span class="sf-label-text">1</span></label>
        </div>
        <input type="text" class="form-control shadow-sm aliases" id="aliases1" placeholder="old-url">
      </div>
      <!-- /aliases_body -->
    </div>
    <button class="btn btn-light aliases_add_rec sf-add-rec" type="button" data-identity="aliases" id="aliases_add_rec">Add Row</button>
    <button class="btn btn-danger aliases_delete_rec sf-delete-rec" type="button" id="aliases_delete_rec">Delete Row</button>
    <br><br>
  </div>
  <!-- /aliases_card -->
</div>

<!-- Modal -->
<div class="modal fade" id="aliases-i-pop" tabindex="-1" role="dialog" aria-labelledby="aliases-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aliases-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
