<div class="container shadow-sm p-5 my-4 infocard-categories sf-infocard sf-component sf-categories">
  <span class="anchor" id="categories_anchor"></span>
  <span class="h4">Categories</span>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label sf-chk" for="categories_chk">
        <input type="checkbox" class="form-check-input sf-chk" id="categories_chk" checked="">
       Categories</label>
may refer alternative dot net
    </div>
  </div>

  <div class="categories_card">
    <div class="categories_body sf-body">
      <div class="form-group categories_rec sf-rec">
        <div class="form-check">
          <label class="form-check-label categories_rec_chk sf-rec-chk">
            <input type="checkbox" class="form-check-input categories_rec_chk sf-rec-chk">
            <span class="sf-label-text">1</span></label>
        </div>
        <input type="text" list="categories_list" class="form-control shadow-sm categories" id="categories1" placeholder="Category">
      </div>
    </div>
    <!-- /categories_body -->
    <datalist id="categories_list">
      {{ $opt_array := (sort site.Data.datalist.categories) }}
      {{ range $opt_array }}<option value="{{ . }}">{{ . }}</option>{{ end }}
    </datalist>
    <button class="btn btn-light categories_add_rec sf-add-rec" type="button" data-identity="categories" id="categories_add_rec">Add Row</button>
    <button class="btn btn-danger categories_delete_rec sf-delete-rec" type="button" id="categories_delete_rec">Delete Row</button>
  </div>
  <!-- /categories_card -->
</div>
