{{ $md := (partial "i-content/developer.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-developer sf-infocard sf-component sf-developer">
  <span class="anchor" id="developer_anchor"></span>
  <span class="h4">Developer</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#developer-i-pop">
      info
    </button>
  </span>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label sf-chk" for="developer_chk">
        <input type="checkbox" class="form-check-input sf-chk" id="developer_chk" checked="">
       Developer</label>
    </div>
  </div>
  <div class="developer_card">
    <div class="developer_body sf-body">
      <!-- we need to create a datalist input here with add and delete buttons ofcourse -->
      <div class="form-group developer_rec sf-rec">
        <div class="form-check">
          <label class="form-check-label developer_rec_chk sf-rec-chk">
            <input type="checkbox" class="form-check-input developer_rec_chk sf-rec-chk">
            <span class="sf-label-text">1</span></label>
        </div>
        <label class="d-block small text-muted developer">
          <input type="text" list="developer_list" class="form-control shadow-sm developer" id="developer1" placeholder="developer">
          &middot; trailing dot not allowed in the name. Eg., 'Google Inc' is correct, 'now.gg' is correct, 'Google Inc.' is not. <br>
          &middot; if the developer who originally developed the software is no longer actively developing the software, then add &lt;OD&gt; at the end of the developer's name. <br>
          &middot; if the developer who previously developed the software (but isn't the original developer) is no longer actively developing the software, then add &lt;PD&gt; at the end of the developer's name.
        </label>
      </div>
      <!-- /developer_body -->
    </div>
    <datalist id="developer_list">
      {{ $opt_array := (sort site.Data.datalist.developer) }}
      {{ range $opt_array }}<option value="{{ . }}">{{ . }}</option>{{ end }}
    </datalist>
    <button class="btn btn-light developer_add_rec sf-add-rec" type="button" data-identity="developer" id="developer_add_rec">Add Row</button>
    <button class="btn btn-danger developer_delete_rec sf-delete-rec" type="button" id="developer_delete_rec">Delete Row</button>
    <br><br>


    <div class="sf-component">
      <div class="form-check">
        <label class="form-check-label src_developer_chk sf-chk" for="src_developer_chk">
          <input type="checkbox" class="form-check-input src_developer_chk sf-chk" id="src_developer_chk" checked="">  Source :</label>
      </div>
      <label class="d-block small text-muted src_developer" for="src_developer">
        <textarea class="form-control shadow-sm src_developer" id="src_developer" cols="30" rows="1" placeholder="Source1, Source2, ..."></textarea>
        mind the space after comma while separating two sources :)</label>
    </div>
  </div>
  <!-- /developer_card -->
</div>

<!-- Modal -->
<div class="modal fade" id="developer-i-pop" tabindex="-1" role="dialog" aria-labelledby="developer-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="developer-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
