{{ $md := (partial "i-content/features.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-features sf-infocard sf-component sf-features">
  <span class="anchor" id="features_anchor"></span>
  <span class="h4">Features</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#features-i-pop">
      info
    </button>
  </span>
  <div class="form-check">
    <label class="form-check-label sf-chk" for="features_chk">
      <input type="checkbox" class="form-check-input sf-chk" id="features_chk" checked="">
      Features
    </label>
  </div>
  <div class="features_card">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">
            #
          </th>
          <th scope="col">
            Name
          </th>
          <th scope="col">
            Value
          </th>
        </tr>
      </thead>
      <tbody class="sf-body">
        <tr class="sf-rec">
          <th scope="row">
            <div class="form-check">
              <label class="form-check-label features_rec_chk sf-rec-chk">
                <input type="checkbox" class="form-check-input features_rec_chk sf-rec-chk">
                <span class="sf-label-text">1</span></label>
            </div>
          </th>
          <td>
            <input type="text" list="features_list" class="form-control name_features" id="name_features1" placeholder="Name">
            <input type="text" class="form-control tag_features" id="tag_features1" placeholder="Tag1, Tag2, Tag3, ...">
            <input type="text" class="form-control remarks_features" id="remarks_features1" placeholder="Remarks">
          </td>
          <td>
            <label class="d-block small text-muted value_features">
              <textarea class="form-control value_features" id="value_features1" cols="30" rows="2" placeholder="Value (markdown supported!)"></textarea>
              &middot; should not include double-quote ("")<br>
              &middot; limitations must at all cost accompany a source<br>
              &middot; The description for a feature or limitaion should not normally include the name of the software <br>
              &middot; a feature should be: what it is, and how it helps the user. a limitation should be: what it is, and how it prevents the user from doing what they want to do.
            </label>
          </td>
        </tr>
      </tbody>
    </table>
    {{/*
    <datalist id="features_list">
      {{ $opt_array := (sort site.Data.datalist.features) }}
      {{ range $opt_array }}<option value="{{ . }}">{{ . }}</option>{{ end }}
    </datalist>
    */}}
    <button class="btn btn-light features_add_rec sf-add-rec" type="button" data-identity="features" id="features_add_rec">Add Row</button>
    <button class="btn btn-danger features_delete_rec sf-delete-rec" type="button" id="features_delete_rec">Delete Selected Row</button>
    <br>
    <br>
    <div class="sf-component">
      <div class="form-check">
        <label class="form-check-label src_features_chk sf-chk" for="src_features_chk">
          <input type="checkbox" class="form-check-input src_features_chk sf-chk" id="src_features_chk" checked="">  Source :</label>
      </div>
      <label class="d-block small text-muted src_features" for="src_features">
        <textarea class="form-control shadow-sm src_features" id="src_features" cols="30" rows="1" placeholder="Source1, Source2, ..."></textarea>
        &middot; mind the space after comma while separating two sources :) <br>
        &middot; For cons/limitations, place more emphasis on accuracy. the list of cons generated by AI is more likely to contain incorrect entries than the list of features generated by AI. sources are mandatory for cons/limitations. <br>
        &middot; Features name start with '+ ', limitations name start with a '- '.
      </label>
    </div>
    
  </div>
  <!-- /features_card -->
</div>

<!-- Modal -->
<div class="modal fade" id="features-i-pop" tabindex="-1" role="dialog" aria-labelledby="features-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="features-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
