{{ $md := (partial "i-content/filename.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-filename sf-infocard sf-component sf-filename">
  <span class="anchor" id="filename_anchor"></span>
  <span class="h4">File name</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#filename-i-pop">
      info
    </button>
  </span>
  <div class="form-check">
    <label class="form-check-label sf-chk" for="filename_chk">
      <input type="checkbox" class="form-check-input sf-chk" id="filename_chk" checked="">
      File name</label>
  </div>
  <div class="filename_card">
    <div class="form-group">
      <label class="d-block small text-muted filename">
        <input type="text" class="form-control shadow-sm filename" id="filename" size="20" placeholder="filename ...">
        lowercased, all spaces are replaced with -, all () are removed
      </label>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="filename-i-pop" tabindex="-1" role="dialog" aria-labelledby="filename-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-filename" id="filename-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
