{{ $md := (partial "i-content/get_it.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-get_it sf-infocard sf-component sf-get-it">
  <span class="anchor" id="get_it_anchor"></span>
  <span class="h4">Get it</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#get_it-i-pop">
      info
    </button>
  </span>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label sf-chk" for="get_it_chk">
        <input type="checkbox" class="form-check-input sf-chk" id="get_it_chk" checked="">
       Get it</label>
    </div>
  </div>
  <div class="get_it_card">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">
            #
          </th>
          <th scope="col">
            Name
          </th>
          <th scope="col">
            Platform
          </th>
          <th scope="col">
            URL
          </th>
        </tr>
      </thead>
      <tbody class="sf-body">
        <tr class="sf-rec">
          <th scope="row">
            <div class="form-check">
              <label class="form-check-label get_it_rec_chk sf-rec-chk">
                <input type="checkbox" class="form-check-input get_it_rec_chk sf-rec-chk" name="1">
                <span class="sf-label-text">1</span></label>
            </div>
          </th>
          <td class="w-25">
            <div class="form-group">
              <label class="d-block form-check-label small text-muted name_get_it">
                <input type="text" list="get_it_list" class="form-control name_get_it" id="name_get_it1" placeholder="Name">
                <div class="">
                  &middot; 'Authentic' can be used only once on a standalone basis. <br>
                  &middot; However, it can be used multiple times when used with `|`. In case of downloads of same software distributed by the developer her/him/itself, use `some-name | Authentic` (`<space><bar><space>Authentic`) where some-name is a logical name, say a platform name. Eg., Windows | Authentic <br>
                  &middot; If a software package is maintained/distributed other than by the developer, then uncheck the 'Official' checkbox. <br>
                  &middot; if a software is available for use online, then select 'PWA' as the platform along with 'Browser'. In case the developer officially supports only a select web browsers, then provide this information in the System Requirements/Notes. DO NOT select all the browsers as platforms. A web browser should only be selected as a platform if the software is available as an extension for that web browser.
                </div>
              </label>
              <label class="form-check-label authentic_get_it">
                <input type="checkbox" class="authentic_get_it" checked="">
                <span class="ml-2">Authentic</span>
              </label>
            </div>
          </td>
          <td class="sf-component">
            <div class="platform_get_it_rec sf-body">
              
              <div class="form-group">
                <input type="text" list="platform_get_it_list" class="form-control platform_name_get_it" id="platform_name_get_it1_1" placeholder="Platform Name">
                <!--
                <input type="text" class="form-control platform-arch-get-it" id="platform_arch_get_it1" placeholder="Platform Architecture">
                -->

                <select name="device" class="select my-1 hardware_get_it_list" id="hardware_get_it_list1_1">
                  <option selected>Device...</option>
                  {{ range site.Data.datalist.platform }}
                    {{ range $i, $k := . }}
                      <option value="{{ $i }}">{{ $i }}</option>
                    {{ end }}
                  {{ end }}
                </select>
                
                <br>
                
                <div class="form-check form-check-inline">
                  <label class="form-check-label platform_arch32_get_it_chk">
                    <input type="checkbox" class="form-check-input platform_arch32_get_it_chk">
                   x32</label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label platform_arch64_get_it_chk">
                    <input type="checkbox" class="form-check-input platform_arch64_get_it_chk">
                   x64</label>
                </div>
                
                <div class="form-check">
                  <label class="form-check-label platform_type_get_it_chk">
                    <input type="checkbox" class="form-check-input platform_type_get_it_chk" checked="">
                   Official</label>
                </div>
                
                <input type="text" class="form-control shadow-sm platform_remarks_get_it" id="platform_remarks_get_it1" size="8" placeholder="Remarks">
              
              </div>
            </div>
            <button class="btn btn-light platform_get_it_add_rec sf-add-rec" type="button" data-identity="platform_get_it" name="1" id="platform_get_it_add_rec1">+</button>
          </td>
          <td>
            <textarea class="form-control url_get_it" id="url_get_it1" cols="30" rows="1" placeholder="URL"></textarea>
          </td>
        </tr>
      </tbody>
    </table>
    <datalist id="get_it_list">
      {{ $hardware_opt_array := (sort site.Data.datalist.get_it) }}
      {{ range $hardware_opt_array }}<option value="{{ . }}">{{ . }}</option>{{ end }}
    </datalist>
    <datalist id="platform_get_it_list">
      {{ $platform_opt_array := slice }}
      {{ $hardwareAsAnArrow := "" }}
      {{ range site.Data.datalist.platform }}
        {{ range $i, $k := . }}
          {{ $hardwareAsAnArrow = print "--" $i "-->" }}
          {{/* note that `append $hardwareAsAnArrow $k` (appends $k as an array) is different than `append $hardwareAsAnArrow | append ($k)` (appends elements of $k as a string) */}}
          {{ $platform_opt_array = $platform_opt_array | append $hardwareAsAnArrow | append ($k) }}
        {{ end }}
      {{ end }}
      {{ range $platform_opt_array }}<option value="{{ . }}">{{ . }}</option>{{ end }}
    </datalist>
    <button class="btn btn-light get_it_add_rec sf-add-rec" type="button" data-identity="get_it" id="get_it_add_rec">Add Row</button>
    <button class="btn btn-danger get_it_delete_rec sf-delete-rec" type="button" id="get_it_delete_rec">Delete Selected Row</button>
  </div>
  <!-- /get_it_card -->
</div>

<!-- Modal -->
<div class="modal fade" id="get_it-i-pop" tabindex="-1" role="dialog" aria-labelledby="get_it-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="get_it-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

