{{ $md := (partial "i-content/platform.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-platform sf-infocard sf-component sf-platform">
  <span class="anchor" id="platform_anchor"></span>
  <span class="h4">Platform</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#platform-i-pop">
      info
    </button>
  </span>
  <div class="form-check">
    <label class="form-check-label sf-chk" for="platform_chk">
      <input type="checkbox" class="form-check-input sf-chk" id="platform_chk" checked="">
     Platform</label>
  </div>
  <div class="platform_card">
    <div class="row">
      <!-- storing the environments in a slice for resuse during source fields creation -->
      {{ $env_platform_list := slice }}
      {{ range site.Data.datalist.platform }}
        {{ range $i, $k := . }}
          {{ $env_platform_list = $env_platform_list | append $i }}
          
          <!-- environment = {{ $i }} -->
          <div class="col-md-3 sf-component">
            <div class="form-check">
              <label class="form-check-label {{ lower $i }}_platform_chk sf-chk">
                <input type="checkbox" class="form-check-input {{ lower $i }}_platform_chk sf-chk"{{ if eq $i "Desktop" }} checked=""{{ end }}>
              {{ $i }}</label>
            </div>
            <div class="{{ lower $i }} sf-body">
              <div class="form-group {{ lower $i }}_platform-rec sf-rec">
                <div class="form-check">
                  <label class="form-check-label {{ lower $i }}_platform_rec_chk sf-rec-chk">
                    <input type="checkbox" class="form-check-input {{ lower $i }}_platform_rec_chk sf-rec-chk">
                    <span class="sf-label-text">1</span></label>
                </div>
                <input type="text" list="{{ lower $i }}_platform_list" class="form-control shadow-sm {{ lower $i }}_platform" id="{{ lower $i }}_platform1" placeholder="Name"{{ if not (eq $i "Desktop") }} disabled=""{{ end }}>
                <!-- whether the platform is officially supported -->
                <div class="form-check">
                  <label class="form-check-label {{ lower $i }}_official_platform_rec_chk"{{ if not (eq $i "Desktop") }} disabled=""{{ end }}>
                    <input type="checkbox" class="form-check-input {{ lower $i }}_official_platform_rec_chk" checked=""{{ if not (eq $i "Desktop") }} disabled=""{{ end }}>
                  Official</label>
                </div>
                {{ if eq $i "Desktop" }}
                <!-- 32 bit & 64 bit architecture selection for Desktop only -->
                <div class="form-check form-check-inline">
                  <label class="form-check-label {{ lower $i }}_arch32_platform_rec_chk">
                    <input type="checkbox" class="form-check-input {{ lower $i }}_arch32_platform_rec_chk">
                  x32
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label {{ lower $i }}_arch64_platform_rec_chk">
                  <input type="checkbox" class="form-check-input {{ lower $i }}_arch64_platform_rec_chk">
                  x64
                  </label>
                </div>
                {{ else if eq $i "Browser" }}
                <small class="text-muted">choose PWA if the software runs on a web browser (i.e. if it's a web app)</small>
                <!--div class="form-check form-check-inline">
                  <label class="form-check-label {{ lower $i }}_extension_platform_rec_chk">
                    <input type="checkbox" class="form-check-input {{ lower $i }}_extension_platform_rec_chk">
                  Extension/Add-on <br>
                  <small class="text-muted">check this if software is an extension or add-on for the web browser</small>
                  </label>
                </div-->
                {{ end }}

              </div>
            </div>
            
            <datalist id="{{ lower $i }}_platform_list">
              {{ range $option := sort $k }}
              <option value="{{ $option }}">{{ $option }}</option>
              {{ end }}
            </datalist>
            <button class="btn btn-light {{ lower $i }}_platform_add_rec sf-add-rec" type="button" data-identity="{{ replace (lower $i) "-" "_" }}_platform" id="{{ lower $i }}_platform_add_rec">Add Row</button>
            <button class="btn btn-danger {{ lower $i }}_platform_delete_rec sf-delete-rec" type="button" id="{{ lower $i }}_platform_delete_rec">Delete Selected Row</button>
          </div>
        {{ end }}
      {{ end }}
    </div>
    <div class="small text-muted mt-3">
      &middot; If a software package for a platform is maintained/distributed other than by the developer, then uncheck the 'Official' checkbox for such platform. <br>
      &middot; if a software is available for use online, then select 'PWA' as the platform along with 'Browser'. In case the developer officially supports only a select web browsers, then provide this information in the System Requirements/Notes. DO NOT select all the browsers as platforms. A web browser should only be selected as a platform if the software is available as an extension for that web browser.
    </div>
    <!-- end row -->
    <br>
    <div class="container">
      Source
      <br>
      {{ range $env_platform_list }}
      <div class="sf-component">
        <div class="form-check">
          <label class="form-check-label src_{{ lower . }}_platform_chk sf-chk">
            <input type="checkbox" class="form-check-input src_{{ lower . }}_platform_chk src_platform_chk sf-chk">  {{ . }}:</label>
        </div>
        <textarea class="form-control shadow-sm src_{{ lower . }}_platform src_platform" cols="30" rows="1" placeholder="Source1, Source2, ..." disabled></textarea>
      </div>
      {{ end }}
    </div>
  </div>
  <!-- /platform card -->
</div>

<!-- Modal -->
<div class="modal fade" id="platform-i-pop" tabindex="-1" role="dialog" aria-labelledby="platform-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="platform-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
