{{ $md := (partial "i-content/publishDate.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-publishDate sf-infocard sf-component sf-publishDate">
  <span class="anchor" id="publishDate_anchor"></span>
  <span class="h4">Publish Date</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#publishDate-i-pop">
      info
    </button>
  </span>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label sf-chk" for="publishDate_chk">
        <input type="checkbox" class="form-check-input sf-chk" id="publishDate_chk" checked="">
       Publish Date</label>
    </div>
  </div>
  <div class="publishDate_card">
    <div class="form-group">
      <label class="d-block small text-muted publishDate">
        <textarea class="form-control shadow-sm publishDate" cols="30" rows="1" placeholder="DD MMMM YYYY" onclick="const d = new Date();this.value = d.toISOString();"></textarea>
        Auto-populated on clicking the textarea. This is the date when software was added to database. Please do not change this date for a software that has been updated.</label>
    </div>
  </div>
  <!-- /publishDate_card -->
</div>

<!-- Modal -->
<div class="modal fade" id="publishDate-i-pop" tabindex="-1" role="dialog" aria-labelledby="publishDate-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="publishDate-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
