{{ $md := (partial "i-content/status.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-status sf-infocard sf-component sf-status">
  <span class="anchor" id="status_anchor"></span>
  <span class="h4">Status</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#status-i-pop">
      info
    </button>
  </span>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label sf-chk" for="status_chk">
        <input type="checkbox" class="form-check-input sf-chk" id="status_chk" checked="">
       Status</label>
    </div>
  </div>
  <div class="status_card">
    <select class="form-control shadow-sm status" id="status">
      <option value="Active">Active</option>
      <option value="Discontinued">Discontinued</option>
      <option value="Unknown">Unknown</option>
    </select>
    <br>
    <div class="sf-component">
      <div class="form-check">
        <label class="form-check-label src_status_chk sf-chk" for="src_status_chk">
          <input type="checkbox" class="form-check-input src_status_chk sf-chk" id="src_status_chk" checked="">  Source :</label>
      </div>
      <label class="d-block small text-muted src_status">
        <textarea class="form-control shadow-sm src_status" cols="30" rows="1" placeholder="Source1, Source2, ..."></textarea>
        &middot; mind the space after comma while separating two sources :) <br>
        &middot; Search hint: 'Software-Name release notes'. Alternative word to 'release notes' can be 'changelog'.
      </label>
    </div>
  </div>
  <!-- /status_card -->
</div>

<!-- Modal -->
<div class="modal fade" id="status-i-pop" tabindex="-1" role="dialog" aria-labelledby="status-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="status-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
