{{ $md := (partial "i-content/title.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-title sf-infocard sf-component sf-title">
  <span class="anchor" id="title_anchor"></span>
  <span class="h4">Title</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#title-i-pop">
      info
    </button>
  </span>
  <div class="title_card">
    <div class="form-group">
      <input type="text" class="form-control shadow-sm title" id="title" size="20" placeholder="title ..." required>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="title-i-pop" tabindex="-1" role="dialog" aria-labelledby="title-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
