<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <!-- as navbar has `position: fixed`, there shall be inserted a `div` with height of navbar(3.5rem) in every file that uses this (default) layout, otherwise navbar overlaps content -->
  <body>
    
    {{ partial "header.html" . }}
    
    {{ block "main" . }}
    {{ end }}
    
    {{ partial "footer.html" . }}
    {{/* use tag partialCached for footer and for such elements (no elements cuurently) which are common for all pages like header but not head */}}
        
    <!-- SCRIPTS -->
    <!--
    {{/* util.js must come first; tooltip.js is a dependency for popover.js; index.js shall come at last; others may follow any order */}}
    -->
    {{ $js_twbs := slice (resources.Get "js/bootstrap/util.js") (resources.Get "js/bootstrap/alert.js") (resources.Get "js/bootstrap/collapse.js") (resources.Get "js/bootstrap/button.js") (resources.Get "js/bootstrap/tooltip.js") (resources.Get "js/bootstrap/popover.js") (resources.Get "js/bootstrap/modal.js") (resources.Get "js/bootstrap/index.js") | resources.Concat "js/bootstrap.slim.js" }}
    {{- $js_jquery := resources.Get "js/jquery.slim.js" }}
    {{- $js_popperjs := resources.Get "js/popper.min.js" }}
    {{- $js_yaml := resources.Get "js/js-yaml.min.js" }}
    {{- $js_saw_custom := resources.Get "js/js-saw-custom.js" }}
    {{- $js := slice $js_jquery $js_popperjs $js_twbs $js_yaml $js_saw_custom | resources.Concat "assets/js/main.js" | resources.ExecuteAsTemplate "assets/js/main.js" . | minify | fingerprint }}
    
    <!-- Combined JavaScript file -->
    {{ if eq hugo.Environment "production" -}}
    <script src="{{ site.Params.urlSuffix }}/{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>
    {{ else }}
    <script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>
    {{ end }}
    
  </body>

<!-- 
Source at: https://gitlab.com/Softorage/saw
 -->
</html>
