<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SAW by Softorage</title>
  <!-- Minified Aggregated CSS -->
  {{- $css := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "assets/css/main.scss" . | toCSS | fingerprint -}}
  {{ if eq hugo.Environment "production" -}}
  <link rel="stylesheet" href="{{ site.Params.urlSuffix }}/{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous">
  {{ else }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous">
  {{ end }}
  <!-- RSS Feed -->
  {{- range .AlternativeOutputFormats -}}
    {{- printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
  {{- end -}}

  <!-- Address bar color -->
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#ffffff">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#ffffff">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  
  <!-- seo tag to be included once jekyll-seo-tag plugin is add to plugins in _config.yml -->
</head>
